/*selector universal*/

*{

border: 1px solid red;
margin: 10px;

}

/*selector de etiqueta*/

header{

	background: blue;

}

section{

	background: purple;
}

/*selector descendente*/

article h3{

	color: green;
}

/*selector de clase*/

.title-a{

	background: yellow;

}

.title-b{

	background: blue;
}

/*selector de id*/

#guitarras{

	border: 3px solid orange;

}

#portada{

	border: 3px solid brown;

}

#header{

	border: 3px solid black;
}